* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    /* --- CORES PRINCIPAIS (IDENTIDADE) --- */
    --menu-fundo: #0056B3;
    --menu-foco: #E63946;
    --texto: #1B263B;
    --borda: #9cb5da;
    --texto-suave: #778DA9; 
    --titulo: #002855;
    --fundo: #F6F4F3;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  color: var(--texto);
  background-color: var(--fundo);
}

header {
  background: var(--texto);
  padding: 0px 30px ;
  color: var(--texto);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
}
nav {
  background-color: var(--menu-fundo);
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: var(--menu-foco);
}

section {
  padding: 60px 40px;
}

.hero {
  background: linear-gradient(#00000098,
      #a4a4a437), url('../img/flor.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 100px 20px;

}

.hero h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;

}

.hero button {
  padding: 10px 20px;
  border: none;
  background: #136021;
  font-weight: bold;
  cursor: pointer;
}

.hero a {
  text-decoration: none;
  color: #ffffff;

}

.container {
  max-width: 1100px;
  margin: auto;
}

.container h2 {
  color: #476694;
}

.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 250px;
  padding: 20px;
  border: 1px solid var(--borda);
  border-radius: 8px;
  background: #f9f9f9;
}

.card:hover {
  transform: translateY(-15px);
  /*sobe pra cima levemente*/
}

footer {
  background: #0a192f;
  color: white;
  text-align: center;
  padding: 20px;
}

/** CSS DA PÁGINA LOGIN **/
p {
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border: 1px solid #afafaf;
  border-radius: 5px;
  margin-top: 5px;
}

input:focus {
  border-color: #0a192f;
  outline: none;
  /*remove contorno*/

}

/*botões*/
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*botão entrar*/
button[type="submit"] {
  background: #1f4c8f;
  color: #ffffff;
}

/*Botão cadastrar*/

button[type="button"] {
  background: #cccccc;
  color: #ffffff;

}

/*botão hover*/
button:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}
.form{
  display: grid; place-items: center; 
}
.tituloForm{
  text-align: center;
  padding: 20px;
}